.bg-black {
    background-color: black;
}

.fg-white {
    color:white;
}

.fg-red {
    color:red;
}

.fg-blue {
    color:blue;
}




/* .webdev-header {
    color:red;
    background-color: black;
}

.aueb-header {
    color:blue;
    background-color: black;
}

.webdev-text {
    color:white;
    background-color: black;
} */